{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} | Puddle</title>
	<link rel="stylesheet" href="{% static 'main.css' %}">
	<link rel="stylesheet" href="{% static 'front.css' %}">
	{%block styles %}
	{% endblock%}
</head>

<body>
	<header>
		<nav>
			<a href="/">Puddle</a>
			<div id="nav-menu">
				<a href="{% url 'item:new' %}" class="nav-item">New Item</a>
				<a href="#" class="nav-item">Browser</a>
				{% if request.user.is_authenticated %}
				<a href="#" class="session-btn-1">Inbox</a>
				<a href="{% url 'dashboard:index' %}" class="session-btn-2">Dashboard</a>
				{% else %}
				<a href="{% url 'core:signup' %}" class="session-btn-1">Sign Up</a>
				<a href="{% url 'core:login' %}" class="session-btn-2">Log in</a>
				{% endif %}
			</div>
		</nav>
	</header>
	<div>
		{% block content %}
		{% endblock %}
	</div>
	<footer>
		<div>
			<h3>About</h3>
			<p>Lorem ipsum bla bla bla ....</p>
		</div>

		<div>
			<h3>Menu</h3>
			<ul>
				<li><a href="#" class="list-item">About</a></li>
				<li><a href="{% url 'core:contact' %}" class="list-item">Contact</a></li>
				<li><a href="#" class="list-item">Privacy Policy</a></li>
				<li><a href="#" class="list-item">Term of use</a></li>
			</ul>
		</div>
	</footer>
</body>

</html>