#items-container {
	padding-bottom: 1.5rem;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 1rem;
	background-color: rgb(243 244 246);
}

#items-container>div:first-child {
	grid-column: span 1 / span 1;
}

#items-container>div:last-child {
	grid-column: span 3 / span 3;
}

#items-container>div>form>input {
	width: auto;
	padding: 0.75rem 1.5rem;
	border-width: 1px;
	border-radius: 0.75rem;
}

#items-container>div>form>button {
	margin-top: 0.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
	background-color: rgb(20 184 166);
	color: whitesmoke;
	border-radius: 0.75rem;
	border: none;
	padding-left: 1rem;
	padding-right: 1rem;
}

#items-container>div>ul>li{
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border-radius: 0.75rem;
}

.same-category{
	background-color: rgb(229 231 235);
}